doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rede Social
        link(rel="stylesheet", href="/style.css")
        link(rel="shortcut icon", href="/favicon.png", type="image/png")
    body
        div(class="navbar")
            div(class="navbar-left")
                img(src="/favicon.png", alt=" logo")

            div(class="nav-right")
                img(src="/feed.png", alt=" inicio",)
                img(src="/like.webp", alt=" gostar")
                img(src="/profilee.webp", alt=" perfil")
            
            div(class="content")
                div(class="content-feed")
                    div(class="post")
                        div(class="post-top")
                        span Nome da pessoa 
                        span Localizacao 
                    div(class="post-mid")
                        img(src="https://picsum.photos/800/800")
                    div(class="post-bot")
                        span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptas nesciunt cumque non quas corporis, ex possimus hic commodi praesentium error accusantium! Suscipit provident quasi odit, inventore dolorum eveniet nisi?
                        
                    div(class="post")
                        div(class="post-top")
                        span Nome da pessoa 
                        span Localizacao 
                    div(class="post-mid")
                        img(src="https://picsum.photos/800/800")
                    div(class="post-bot")
                        span Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, dolores suscipit aut iste nobis architecto harum at obcaecati quasi, nihil minima neque? Laboriosam consectetur labore temporibus culpa, officia assumenda inventore!