doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rede Social
        link(rel="stylesheet", href="/style.css")
    body 
        h1 Rede Social | Perfil 
        h2 #{nome}